/* Horizontally aligns form to center of screen */
.content {
    margin-top: 25vh;
}

.error {
    background-color: red;
    height: 10vh;
}

.error-content {
    padding-top: 2.5vh;
    font-size: 3rem;
    color: white;
}
